body {
    
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
}

.sidebar {
    background-attachment: fixed;
    background: url(sidebarlogo.png);
    background-blend-mode:soft-light;
    width: 250px;
    height: 93vh;
    background-color: #a1ada4;
    color: white;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px 10px;
}

.logo {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    
}

.logo img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    border-radius: 50%;
}

.logo span {
    font-size: 18px;
    font-weight: bold;
}

.menu {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.nav-list {
    list-style: none;
    padding: 0;
}

.nav-list li {
    margin: 15px 0;
    text-align: center;
}

.nav-list a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    display: block;
    padding: 10px;
    background-color: #036d2b; /* Background color for titles */
    border-radius: 5px;
}

.nav-list a:hover {
    background-color: #98c4ca;
    color: white;
}

.logout {
    text-align: center;
}

.logout a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    display: block;
    padding: 10px;
    background-color: #036d2b; /* Background color for logout button */
    border-radius: 5px;

}

.logout a:hover {
    background-color: #98c4ca;
    color: white;
}

.main-content {
    margin-left: 250px; /* Offset the sidebar width */
    padding: 20px;
    flex-grow: 1;
    background: url(sidebarlogo.png);
    background-color: #f4f4f4; /* Light background for contrast */
    height: 100vh;
}

.header {
    display: flex;
    justify-content:space-between;
    align-items: center;
    background-color: #036d2c;
    color: white;
    padding: 10px;
    border-radius: 5px;
    width: 1040px;
}

.header h1 {
    margin: 0;
}

.header .institution {
    font-size: 14px;
}

.header .datetime {
    font-size: 14px;
}

.content {
    margin-top: 20px;
}

.content h2 {
    color: #036d2b;
}

.card {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
}
.nav-list a.active {
background-color: #00bcd4; /* Highlight color */
color: white;
}
